# VALENTINE DASHBOARD CONFIGURATION

# 1. PERSONAL MESSAGES
VITE_DASHBOARD_MESSAGE_TITLE="Dear Valentine"
VITE_DASHBOARD_PERSONAL_MESSAGE="Saying 'Yes' was the best choice you could have made! Happy Valentine's Day! I'm so lucky to have you. ❤️"
VITE_DASHBOARD_SIGNATURE="Love always, [Your Name]"

# Optional: Custom Domain for GitHub Pages
# VITE_CNAME="example.com"

# 2. PRONOUN CONFIG 
# Updated to be inclusive - used in the "She Said Yes!" text. Can be "She", "He", "They", etc.
VITE_PRONOUN="She"

# 3. LOCK SCREEN
# The secret code can be any length (recommended 3-8 letters)
VITE_LOCK_CODE="ROSE" #Cute if this is their name!
VITE_LOCK_HINT="I age quickly, but I'm picked every year. We cannot speak yet say \"I love you\". What am I?"

# 4. DATE & TIME (When the site becomes accessible)
VITE_UNLOCK_DATE="2026-02-14"
VITE_UNLOCK_TIME="00:00:00"
VITE_TIMEZONE="Europe/London"

# 5. IMAGES
# Drop your images directly into the /public folder and reference them here:
# Initial card cover image. 
VITE_INITIAL_IMAGE="/cover.jpg"

# List of image filenames for the Memories section. 
# Relative to the package not project root (/public not /)
VITE_MEMORIES_IMAGES="
/memory1.jpg,
/memory2.jpg,
/memory3.jpg
"

# Footer/Loading text in memories section
VITE_MEMORIES_LOADING_TEXT="Our story is still being written..."
