@import "tailwindcss";

@theme {
  --font-serif: "Dancing Script", cursive;
  --font-sans: "Inter", sans-serif;
}

@layer base {

  html,
  body {
    @apply antialiased select-none;
    background-color: #fce7f3;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden !important;
    /* Force no scroll everywhere */
    position: fixed;
    /* Extra precaution against bounce/scroll */
  }

  #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

@layer components {
  .glass {
    @apply bg-white border-4 border-black p-4 shadow-[10px_10px_0px_0px_#000];
  }
}

.animate-spin-slow {
  animation: custom-spin 8s linear infinite;
}

@keyframes custom-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}